[Unit]
Description=ds4drv daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
EnvironmentFile=/etc/donkeycar/ds4drv.env
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/env/bin/ds4drv --controller-limit 1 --led ${controller_color} --config /etc/donkeycar/ds4drv.conf --bindings donkeycar
Restart=on-abort

[Install]
WantedBy=bluetooth.target