[Unit]
Description=Start donkeycar drive on boot, to be able to drive directly the car
Requires=ds4drv.service
Requires=pigpiod.service
After=ds4drv.service
After=pigpiod.service

[Service]
User=pi
EnvironmentFile=/etc/donkeycar/ds4drv.env
Environment="NETWORK_INTERFACE=wlan0"
Environment="MANAGER_API_ORIGIN=http://{{ backendIp }}:8000"
Environment="MANAGER_FTP_HOST={{ ftpIp }}"
Environment="MANAGER_FTP_PORT={{ftpPort}}"
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/venv/bin/python /home/pi/mycar/manage.py drive --js
Restart=on-failure

[Install]
WantedBy=multi-user.target
