[Unit]
Description=dhcpcd on all interfaces
Wants=network.target
Before=network.target
Restart=always

[Service]
Type=forking
PIDFile=/run/dhcpcd.pid
ExecStart=/usr/lib/dhcpcd5/dhcpcd -q -b
ExecStop=/sbin/dhcpcd -x
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
Alias=dhcpcd5.service